#structured data : 정형데이터
##표로 나타낸것처럼 자료형 type도 있고 칸하나찝으면 누구의 무슨 데이터인지 알 수 있다.

- 데이터마다 Type이 존재.
- 컬럼이라는 개념을 통해 데이터의 항목을 결정.
- Dtype + column = schema 스키마
- 비어있는 데이터 X 없는 데이터면 빈 칸이라도 존재

ex) 유저   키   몸무게    나이

 1     170.3  83        32

 2     180.6  85        28

- 표 전체 자체를 Data Frame이라고 함.
###series
-세로로 한줄 열벡터,   시리즈가 모여서 하나의 데이터 프레임이 된다. 모든 시리즈의 크기는 똑같다.
-userid
-1
-2
-3

-키

-170

-180

- 가로줄은 row라함

# semi structured data : 준 정형데이터
- Dtype이 없음.거의 문자형으로 통일. 항목개념만 존재
- 스키마가 없음(항목을 컬럼으로 보긴 쫌 애매) filed or property라는 개념을 더 많이 사용.

-ex ) JSON, XML, Parquet

# un structured data : 비정형 데이터
- 형식이 없는 데이터
- 데이터마다 크기도 제각각

- ex) 이미지, 자연어

## pandas는 정형 데이터를 다룬다!

In [ ]:
import pandas as pd

# pandas의 Series, dataframe
- 한 종류의 데이터를 모아놓은 것 = series 세로줄 열벡터개념
- series가 여러개 모이면 data frame

In [ ]:
# Series🌜
pd.Series([10,20,30,40])

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s1 = pd.Series([10,20,30,40])
type(s1)

pandas.core.series.Series

In [ ]:
pd.Series([10,20,30,40], name="Sample")
# 항목의 이름도 정의가능

0    10
1    20
2    30
3    40
Name: Sample, dtype: int64

# Dataframe 만들기
- 시리즈가 여러개 모여서 하나의 데이터 시트를 표현하면 dataframe이 된다.

## 방법1. list로만 만들기
- 컬럼의 이름을 따로 지정해야 할 상황이 생김

In [ ]:
sample_data = [['AAA', 34, 180.1],
               ['BBB', 33, 175.5],
               ['CCC', 28, 183.2]]

pd.DataFrame(sample_data)

     0   1      2
0  AAA  34  180.1
1  BBB  33  175.5
2  CCC  28  183.2

In [ ]:
pd.DataFrame(sample_data, columns=["이름", "나이", "키"])

    이름  나이      키
0  AAA  34  180.1
1  BBB  33  175.5
2  CCC  28  183.2

## 방법2. dict로 만들기
- key값은 컬럼의 이름이된다.
- ⭐⭐⭐value는 반드시 리스트로 이루어져 있어야 한다. (시리즈)
- 모든 value의 리스트는 반드시 길이가 맞아야 한다.

In [ ]:
sample_data = {
    "이름" : ["AAA","BBB","CCC"],
    "나이" : [34, 34, 28],
    "키" : [180.1, 175.7, 183.2]

}

pd.DataFrame(sample_data)

    이름  나이      키
0  AAA  34  180.1
1  BBB  34  175.7
2  CCC  28  183.2

## dict로 만들기(JSON)
- json= javascript object natation

In [ ]:
sample_data = [
  {
    "이름" : "AAA",
    "나이" : 34,
    "키": 180.1
  },
  {
    "이름": "BBB",
    "나이" : 33,
    "키": 175.5
  },  
  {
    "이름" : "CCC",
    "나이" : 28,
    "키": 183.2
  }
]

sample_data

# 리스트안에 딕셔너리들이 들어있음

[{'이름': 'AAA', '나이': 34, '키': 180.1},
 {'이름': 'BBB', '나이': 33, '키': 175.5},
 {'이름': 'CCC', '나이': 28, '키': 183.2}]

In [ ]:
pd.DataFrame(sample_data)

    이름  나이      키
0  AAA  34  180.1
1  BBB  33  175.5
2  CCC  28  183.2